@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f2fd;
}
.container{
    position: relative;
    background-image: url("./bg.png");
    background-size: cover;
    padding: 25px;
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
header,
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 48px;
    margin-right: 10px;
}
.logo h5{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
header .chip{
width: 60px;
}
.card-name h6{
    color: #fff;
    font-size: 10px;
    margin-bottom: 0px;
}
.name{
    margin-top: 20px;
}
.number{
    margin-top: 4px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
}
.card-detail{
    color: #fff;
}
.valid-date{
    font-weight: 400;
    font-size: 18px;
}
.container .card-detail{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: flex-end;
}